 .Box{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 45px;
    min-width: 33%;
  }
  
  #cards{
    display: inline-flex;
    float: left;
    padding-bottom: 45px;
    padding-top: 45px;
    text-align: center;
  }
  
  